*{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #f4f1ec;
}

.main_page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 600px;
    margin-right: 600px;
    background-color: #fcfcfc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.main_page::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 38px;
    background-image: radial-gradient(circle, #f4f1ec 8px, #dddddd 10px, transparent 11px);
    background-size: 44px 38px;
    background-repeat: repeat-x;
    z-index: 2;
    pointer-events: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

header{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

header .main_text{
    margin-top: 70px;
    padding-top: 0;
}

input[type="text"] {
    padding: 12px 20px;
    border: 2px solid #dddddd;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    transition: border-color 0.2s, box-shadow 0.2s;
    background: #f4f1ec;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

input[type="text"]:focus {
    border-color: #00cfc1;
    box-shadow: 0 0 0 2px #d6d4fa;
}

button{
    background-color: #f4f1ec;
    border: 2px solid #dddddd;
    color: #808080;
    padding: 12px 20px;
    text-align: center;
    font-size: 18px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 15px;
}

button:hover {
    border-color: red;
    box-shadow: 0 0 0 2px #d6d4fa;
}

nav{
    text-align: center;
    margin-top: -50px;
}

.todo-list {
  width: 650px; 
  border-radius: 8px;
  overflow: hidden;
  list-style: none;
}

.task-item {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  margin-left: -20px;
}

.task-item:last-child {
  border-bottom: none;
}

.add{
    margin-left: 20px;
}

.add:hover{
    border-color: #00cfc1;
    box-shadow: 0 0 0 2px #d6d4fa;
}