*{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: #f4f1ec;
}

.main_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 600px;
    margin-right: 600px;
    background-color: #fcfcfc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

header{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

header .main_text{
    margin-top: 30px;
    padding-top: 0;
}